% APT开关
processor.enable=true
processor.stopBubbling=false
% processor.genPath=MyBatisFlex/target/generated-sources/annotations
% processor.charset=UTF-8
% processor.allInTables.enable=false
% processor.allInTables.package=org.example.entity.table
% processor.allInTables.className=Tables
% processor.mapper.generateEnable=false
% processor.mapper.annotation=false
% processor.mapper.baseClass=com.mybatisflex.core.BaseMapper
% processor.mapper.package=${entityPackage}.mapper
% processor.tableDef.package=org.example.entity.table
% processor.tableDef.propertiesNameStyle=upperCase
% processor.tableDef.instanceSuffix=
% processor.tableDef.classSuffix=TableDef
% processor.tableDef.ignoreEntitySuffixes=